<template lang="html">
  <div>
  <!-- <b-btn v-b-modal.modalPrevent>Crear cuenta corriente</b-btn> -->
  <!-- Main UI -->
  <BtnAgregaCuentaCorriente v-b-modal.modalPrevent v-b-tooltip.hover
  title="Crear nueva cuenta corriente..."/>

  <!-- <b-button v-b-modal.modalPrevent v-b-tooltip.hover title="Crear nueva cuenta corriente...">Crear cuenta corriente</b-button> -->

  <!-- Modal Component -->
  <b-modal id="modalPrevent"
           ref="modal"
           title="Nueva cuenta corriente"
           @cancel="cancelarForm"
           @ok="procesarForm"
           @shown="limpiarForm">
    <form @submit.stop.prevent="handleSubmit">
      <p style="text-align:left">Nombre y apellido del propietario:</p>
      <b-form-input type="text"
                      placeholder="Nombre y apellido del propietario"
                      v-model="propietarioCuentaCorriente"></b-form-input>
      <br>
      <p style="text-align:left">Ingrese cuenta corriente:</p>
      <b-form-input type="number"
                    placeholder="Ingrese número de cuenta"
                    v-model="cuentaCte"
                    :state="comprobarCuentaCorriente"
                    v-b-tooltip title="Cuenta numérica">
                  </b-form-input>
      <br>
      <p style="text-align:left">Seleccione la moneda:</p>
      <b-form-select v-model="monedaSeleccionada" :options="listaMonedas"
      class="mb-3"/>
    </form>
    {{ propietarioCuentaCorriente }} {{ cuentaCte }} {{ monedaSeleccionada }}
  </b-modal>
</div>
</template>

<script>
/* eslint-disable */
import BtnAgregaCuentaCorriente from 'mdi-vue/NotePlusOutlineIcon'
// import axios from 'axios'
import {
  serviceCuentaCorriente
} from '@/services/CuentaCorriente.js'
import {mapState, mapMutations, mapActions} from 'vuex'

export default {
  name: 'AltaCuentaCorriente',
  components: {
    BtnAgregaCuentaCorriente
  },
  data() {
    return {
      cuentaCte: '',
      propietarioCuentaCorriente: '',
      tipoMoneda: [],
      monedaSeleccionada: null
    }
  },
  computed: {
    ...mapState(['cuentas']),
    comprobarCuentaCorriente() {
      // Cantidad de caracteres
      return this.cuentaCte.length > 2 ? true : false
    },
    listaMonedas() {
      //Propiedad computada que me revuelve la lista de monedas
      var listaMonedas = []
      this.tipoMoneda.forEach(function(elemento, indice, array) {
        listaMonedas.push({value:elemento.id, text:elemento.nombre})
      })
      return listaMonedas //[{key:1, text:'Dolar'}]
    }
  },
  methods: {
    ...mapMutations(['agregarCuenta']),
    ...mapActions(['guardarCuentaCorriente']),
    limpiarForm() {
      this.cuentaCte = ''
      this.propietarioCuentaCorriente = ''
      serviceCuentaCorriente.obtenerMonedas()
        .then((response) => {
          this.tipoMoneda = response.data;
          // var moneda = {key: obj.id, text:obj.text}
        })
        .catch((err) => {
          console.log("Error al obtener las monedas." + err);
        })
      // console.log(monedas);
    },
    procesarForm(evt) {
      // Prevent modal from closing
      evt.preventDefault()
      if (!this.cuentaCte && !this.propietarioCuentaCorriente && !this.monedaSeleccionada) {
        alert('Por favor ingrese los datos necesarios.')
      } else {
        this.handleSubmit()
      }
    },
    handleSubmit() {
      this.guardarCuentaCorriente({'propietario': this.propietarioCuentaCorriente, 'nroCuenta': this.cuentaCte, 'moneda': this.monedaSeleccionada})
      this.$refs.modal.hide()
      this.limpiarForm()
    },
    cancelarForm() {
      this.limpiarForm()
    }
  }
}
</script>

<style lang="css" scoped>
</style>
