<template lang="html">
  <div class="">
    En este vídeo que he realizado, explico como usar la app.
    <br>
      <video width="500" controls src="https://peertube.video/download/videos/06db3e83-9d34-41f2-98b3-99f5da448618-768.mp4"></video>
  </div>
</template>

<script>
import MiIcono from 'mdi-vue/ThumbUpIcon'

export default {
  name: 'CardInfo',
  components: {
    MiIcono
  }
}
</script>

<style lang="css" scoped>
video {
  width: 100%;
  height: auto;
}
</style>
