<template>
  <div>
    <!-- <b-button @click="showModal">
      Open Modal
    </b-button> -->
    <b-button @click="showModal" variant="primary" v-b-tooltip.hover
        title="Editar cuenta corriente." size="sm"><BtnEdit/></b-button>
    <b-modal ref="myModalRef" hide-footer title="Editar cuenta corriente">
      <div class="d-block text-center">
        <!-- <h5>Cuenta seleccionada</h5> -->
        <ul style="text-align: left">
          <li v-for="(value, key) in cuentaCorrienteSeleccionada" :key="key">
            {{key}}: {{value}}
          </li>
        </ul>
        <!-- {{cuentaCorrienteSeleccionada}} -->
      </div>
      <b-btn class="mt-3" variant="outline-danger" block @click="hideModal">Cerrar</b-btn>
    </b-modal>
  </div>
</template>

<script>
import BtnEdit from 'mdi-vue/PencilIcon'
import {
  mapState
} from 'vuex'

export default {
  name: 'EditorCuentaCorriente',
  components: {
    BtnEdit
  },
  computed: {
    ...mapState(['cuentaCorrienteSeleccionada'])
  },
  methods: {
    showModal () {
      this.$refs.myModalRef.show()
    },
    hideModal () {
      this.$refs.myModalRef.hide()
    }
  }
}
</script>
