<template lang="html">
  <div class="">
    <b-container>
      <b-table responsive hover small :items="cuentas" :fields="fields" @row-clicked="myRowClickHandler">
        <template slot="remove" slot-scope="data">
          <b-button @click="removeRow(data.item.id)" variant="danger" v-b-tooltip.hover
              title="Eliminar cuenta corriente." size="sm"><BtnDelete/></b-button>
          <!-- <BtnDelete @click="removeRow(data.item.index)" v-b-tooltip.hover
              title="Eliminar cuenta corriente."></BtnDelete> -->
        </template>
        <template slot="edit" slot-scope="data">
          <EditorCuentaCorriente></EditorCuentaCorriente>
          <!-- <b-button @click="editarCuenta" variant="primary" v-b-tooltip.hover
              title="Editar cuenta corriente."><BtnEdit/></b-button> -->
          <!-- <BtnEdit @click="removeRow(data.item.index)" v-b-tooltip.hover
              title="Editar cuenta corriente."/> -->
        </template>
      </b-table>
    </b-container>
    <b-container class="bv-example-row">
      <b-row>
        <b-col>
          <b-pagination size="md" :total-rows="filasTotales" v-model="currentPage" :per-page="limit" @input="obtenerCuentas(currentPage)">
          </b-pagination>
        </b-col>
        <b-col>
          <AltaCuentaCorriente style="text-align:left"/>
        </b-col>
      </b-row>
      <!-- {{cuentaCorrienteSeleccionada}} -->
    </b-container>
  </div>
</template>

<script>
import AltaCuentaCorriente from '@/components/AltaCuentaCorriente.vue'
import BtnDelete from 'mdi-vue/DeleteIcon'
import BtnEdit from 'mdi-vue/PencilIcon'
import {
  serviceCuentaCorriente
} from '@/services/CuentaCorriente.js'
import {
  mapState,
  mapMutations
} from 'vuex'
import EditorCuentaCorriente from '@/components/EditorCuentaCorriente.vue'
/* eslint-disable */
export default {
  name: 'GridCuentas',
  components: {
    AltaCuentaCorriente,
    BtnDelete,
    BtnEdit,
    EditorCuentaCorriente
  },
  computed: {
    ...mapState(['cuentaCorrienteSeleccionada', 'cuentas'])
  },
  data() {
    return {
      currentPage: 1,
      filasTotales: 5,
      limit: 4,
      fields: [{
          key: 'id',
          sortable: true
        },
        {
          key: 'propietario',
          label: 'Propietario',
          sortable: true
        },
        {
          key: 'nroCuenta',
          label: 'Nro Cuenta',
          sortable: true
        },
        {
          key: 'moneda',
          label: 'Tipo cuenta',
          sortable: true
        },
        {
          key: 'saldo',
          label: 'Saldo',
          sortable: true
        },
        {
          key: 'fechaCreacion',
          label: 'Fecha Creacion',
          sortable: true
        },
        {
          key: "remove",
          sortable: false,
          label: "Eliminar",
          class: "options-column"
        },
        {
          key: "edit",
          sortable: false,
          label: "Editar",
          class: "options-column"
        }
      ]
    }
  },
  methods: {
    ...mapMutations(['seleccionarCuenta', 'rellenarCuentas']),

    obtenerCuentas(currentPage) {
      serviceCuentaCorriente.obtenerCuentasCorrientes(this.currentPage, this.limit)
        .then(response => {
          console.log("CUENTAS",response)
          // this.cuentas = response.data
          this.rellenarCuentas(response.data)
          // this.cuentas.push({id:1, propietario:'Juan manuel', nroCuenta:'1', moneda:'2', saldo:'32', fechaCreacion:'2018-05-02'})
        })
        .catch(e => {
          console.log(e);
        })
    },
    myRowClickHandler(record, index) {
      // 'record' will be the row data from items
      // `index` will be the visible row number (available in the v-model 'shownItems')
      console.log(record.propietario) // This will be the item data for the row
      this.seleccionarCuenta(record)
    },
    removeRow(id) {
      const index = this.cuentas.findIndex(item => item.id === id);
      console.log("Eliminando registro id: " + id);

      serviceCuentaCorriente.eliminar(id)
        .then((response) => {
          console.log(response);
          this.cuentas.splice(index, 1)
        })
        .catch((err) => {
          console.log(err.response);
          alert(err.response.data.message)
        })
    }
  },
  mounted(currentPage) {
    //Se llama cuando se renderiza el componente
    serviceCuentaCorriente.obtenerCantidadRegistros()
      .then((response) => this.filasTotales = response.data.total)
      .catch((error) => error)
    // console.log('Filas totales en grilla:' + this.filasTotales)
    this.obtenerCuentas(currentPage)
  }
}
</script>

<style lang="css" scoped>
</style>
