<template lang="html">
  <div id="nav">
    <b-navbar toggleable="md" type="dark" variant="dark">
      <b-container>
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

    <b-navbar-brand href="#">IT Challenge</b-navbar-brand>

    <b-collapse is-nav id="nav_collapse">

      <b-navbar-nav>
        <b-nav-item :to="{name: 'home'}" exact>App</b-nav-item>
        <b-nav-item :to="{name: 'about'}">Acerca de la App</b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">

        <b-nav-item-dropdown right>
          <!-- Using button-content slot -->
          <template slot="button-content">
            <em>User</em>
          </template>
          <b-dropdown-item href="#">Profile</b-dropdown-item>
          <b-dropdown-item href="#">Sigin</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>

    </b-collapse>
  </b-container>
  </b-navbar>
  <!-- <router-vue/> -->
  </div>
</template>

<script>
export default {
  name: 'MenuBar'
}
</script>

<style lang="css" scoped>
</style>
