<template lang="html">
  <div>
  <!-- <b-btn v-b-modal.modalPrevent>Crear cuenta corriente</b-btn> -->
  <!-- Main UI -->
  <BtnAgregaCuentaCorriente v-b-modal.AltaMovimiento v-b-tooltip.hover
  title="Crear nuevo movimiento..."/>

  <!-- <b-button v-b-modal.modalPrevent v-b-tooltip.hover title="Crear nueva cuenta corriente...">Crear cuenta corriente</b-button> -->

  <!-- Modal Component -->
  <b-modal id="AltaMovimiento"
           ref="modal"
           title='Nuevo movimiento'
           @cancel="cancelarForm"
           @ok="procesarForm"
           @shown="limpiarForm">
    <form @submit.stop.prevent="handleSubmit">
            <p style="text-align:left"><b>Propietario: {{cuentaCorrienteSeleccionada.propietario}}</b></p>
      <p style="text-align:left">Tipo de movimiento:</p>
      <b-form-select v-model="movimientoSeleccionado" :options="listaMovimientos"
      class="mb-3"/>

      <p style="text-align:left">Descripcion:</p>
      <b-form-textarea id="textarea2"
                        state="descripcion"
                        v-model="descripcion"
                        placeholder="Ingrese una descripción."
                        :rows="3"></b-form-textarea>

      <br>
      <p style="text-align:left">Importe:</p>
      <b-form-input type="number"
                    v-model="importe"
                    :state="comprobarDescubierto"
                    >
                  </b-form-input>
    </form>
  </b-modal>
</div>
</template>

<script>
/* eslint-disable */
import {
  serviceMovimientosCuentaCorriente
} from '@/services/MovimientosCuentasCorrientes.js'
import BtnAgregaCuentaCorriente from 'mdi-vue/NotePlusOutlineIcon'
import {
  mapState
} from 'vuex'

export default {
  name: 'AltaMovimiento',
  data() {
    return {
      movimientos: [],
      descripcion: '',
      importe: '',
      movimientoSeleccionado: null
    }
  },
  computed: {
    listaMovimientos() {
      var lista = []
      this.movimientos.forEach(function(elemento, indice, array) {
        lista.push({
          value: elemento.id,
          text: elemento.nombre
        })
      })
      return lista //[{key:1, text:'Dolar'}]
    },
    comprobarDescubierto() {
      return this.importe > 0 ? true : false
    },
    ...mapState(['cuentaCorrienteSeleccionada'])
  },
  components: {
    BtnAgregaCuentaCorriente
  },
  methods: {
    cancelarForm() {

    },
    procesarForm(evt) {
      evt.preventDefault()
      if (this.cuentaCorrienteSeleccionada.id != "" && this.importe > 0 && this.descripcion != '') {
        this.handleSubmit()
      } else {
        alert('Complete los datos importe y descripcion.')
      }
    },
    limpiarForm() {
      if (this.cuentaCorrienteSeleccionada.id == 0) {
        alert('Haga click sobre una cuenta antes de relizar la operación.')
        this.$refs.modal.hide()
      }
      serviceMovimientosCuentaCorriente.obtenerTiposMovimientos()
        .then((response) => {
          this.movimientos = response.data;
        })
        .catch((err) => {
          console.log("Error al obtener los movimientos. ", err);
        })
      this.importe = ''
      this.descripcion = ''
    },
    handleSubmit() {
      serviceMovimientosCuentaCorriente.crearMovimiento(this.cuentaCorrienteSeleccionada.id, this.movimientoSeleccionado, this.importe, this.descripcion)
        .then(response => {
          alert("Se ha creado correctamente el movimiento.")
          console.log(response.data)
        })
        .catch(error => {
          console.log(error)
          alert('Mensaje de error: ' + error.response.data.error + '\n\nCausa: ' + error.response.data.message)
        })

      this.$refs.modal.hide()
      this.limpiarForm()
    }
  }

}
</script>

<style lang="css" scoped>
</style>
