<template lang="html">
  <div class="">
    <b-container>
      <b-table responsive hover small :items="movimientos" :fields="fields">
      </b-table>
    </b-container>
    <b-container class="bv-example-row">
      <b-row>
        <b-col>
          <b-pagination size="md" :total-rows="filasTotales" v-model="currentPage" :per-page="limit" @input="obtenerMovimientos(currentPage)">
          </b-pagination>
        </b-col>
        <b-col>
          <AltaMovimiento style="text-align:left"/>
        </b-col>
      </b-row>
      <!-- {{cuentaCorrienteSeleccionada}} -->
    </b-container>
  </div>
</template>

<script>
/* eslint-disable */
import AltaMovimiento from '@/components/MovimientoCuentas/AltaMovimiento.vue'
import {
  serviceMovimientosCuentaCorriente
} from '@/services/MovimientosCuentasCorrientes.js'
import {
  mapState,
  mapActions,
  mapMutations
} from 'vuex'
export default {
  name: 'GridMovimientos',
  components: {
    AltaMovimiento
  },
  computed: {
    ...mapState(['cuentaCorrienteSeleccionada', 'movimientos', 'filasTotales']),
  },
  data() {
    return {
      currentPage: 1,
      limit: 4,
      fields: [{
          key: 'id',
          sortable: true
        },
        {
          key: 'cuenta',
          label: 'Cuenta',
          sortable: true
        },
        {
          key: 'movimiento',
          label: 'Tipo de movimiento',
          sortable: true
        },
        {
          key: 'descripcion',
          label: 'Descripcion',
          sortable: true
        },
        {
          key: 'importe',
          label: 'Importe',
          sortable: true
        },
        {
          key: 'fecha',
          label: 'Fecha',
          sortable: true
        }
      ]
    }
  },
  methods: {
    ...mapActions(['listarMovimientos']),
    ...mapMutations(['rellenarMovimientos']),
    obtenerMovimientos(currentPage) {
      // console.log('RELLENANDOOOOO', currentPage, limite)
      serviceMovimientosCuentaCorriente.listarMovimientos(this.cuentaCorrienteSeleccionada.id, currentPage, 4)
        .then((response) => {
          console.log('DATATTTAA', response.data)
          this.rellenarMovimientos(response.data)
        })
        .catch((err) => {
          console.log(err)
        })
    }
  },
  mounted() {
    // console.log("dsdsad");
    // this.obtenerCuentas(1)
  }
}
</script>

<style lang="css" scoped>
</style>
