<template>
<div>
  <h1>Acerca de la APP...</h1>
  <CardInfo></CardInfo>
</div>
</template>

<script type="text/javascript">
import CardInfo from '@/components/CardInfo.vue'

export default {
  name: 'About',
  components: {
    CardInfo
  }
}
</script>
