<template>
<div>
  <h4>Cuentas corrientes y movimientos...</h4>
  <GridCuentas />
  <h4 style="text-align:left" v-if="cuentaCorrienteSeleccionada.id>0">Movimientos: {{filasTotales}}</h4>
  <h4 style="text-align:left" v-else>Sin movimientos. Seleccione una cuenta.</h4>
  <GridMovimientos />
</div>
</template>

<script type="text/javascript">
import GridCuentas from '@/components/GridCuentas.vue'
import GridMovimientos from '@/components/MovimientoCuentas/GridMovimientos.vue'
import {
  mapState
} from 'vuex'

export default {
  name: 'home',
  components: {
    GridCuentas,
    GridMovimientos
  },
  computed: {
    ...mapState(['filasTotales', 'cuentaCorrienteSeleccionada'])
  }
}
</script>
